<div class="container mt-5">
    <div class="alert alert-success">
        <h4>Your order has been placed successfully!</h4>
        <a href="@Url.Action("OrderHistory", "User")" class="btn btn-primary mt-3">Continue Shopping</a>
    </div>
</div>
