@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

<form asp-controller="User" asp-action="GetProduct" method="post">

</form>